.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #222121;
    margin-bottom: 12vh;
    min-height: 100vh;
}

.mat-form-field{
    padding-left: 75vw;
    padding-top: 1vh;
    color: aliceblue;
}

.matInput{
    color: aliceblue;
}

.label {
    font-family: 'Germania One', cursive;
    font-size: 1.2em;
    color: aliceblue
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    columns: aliceblue !important;
}