<mat-toolbar color="primary">
  <mat-toolbar-row>

    <a [routerLink]="['/Logo']" class="logo">
      <img class="logoImg" src="assets\image\logo.png">
    </a>

    <button class="header-buttons" mat-button (click)="displayTrackMenuList()" [matMenuTriggerFor]="menu">Track</button>
    <mat-menu #menu="matMenu">
      <button class="mat-menu-item-australia" [routerLink]="['/Australia']" mat-menu-item>Australia</button>
      <button class="mat-menu-item-canada" [routerLink]="['/Canada']" mat-menu-item>Canada</button>
      <button class="mat-menu-item-china" [routerLink]="['/China']" mat-menu-item>China</button>      
      <button class="mat-menu-item-germany" [routerLink]="['/Germany']" mat-menu-item>Germany</button>      
      <button class="mat-menu-item-india" [routerLink]="['/India']" mat-menu-item>India</button>      
      <button class="mat-menu-item-ireland" [routerLink]="['/Ireland']" mat-menu-item>Ireland</button>      
      <button class="mat-menu-item-italy" [routerLink]="['/Italy']" mat-menu-item>Italy</button>  
      <button class="mat-menu-item-japan" [routerLink]="['/Japan']" mat-menu-item>Japan</button>          
      <button class="mat-menu-item-spain" [routerLink]="['/Spain']" mat-menu-item>Spain</button>      
      <button class="mat-menu-item-sweden" [routerLink]="['/Sweden']" mat-menu-item>Sweden</button> 
      <button class="mat-menu-item-ukraine" [routerLink]="['/Ukraine']" mat-menu-item>Ukraine</button>            
      <button class="mat-menu-item-unitedstates" [routerLink]="['/UnitedStates']" mat-menu-item>United States</button>      
    </mat-menu>

    <button class="wishlist-button" [routerLink]="['/WishList']" mat-button>WishList</button>

    <button class="logout-button" (click)="logout()" mat-button>Logout</button>

  </mat-toolbar-row>
</mat-toolbar>