.example-card{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 20vw;
    margin: 1em;
    text-align: center;
    background-color: aliceblue;
    margin-top: 10vh;    
}

.header{
    font-family: 'Pacifico', cursive;
    margin: auto;
    color: black;
}

.mat-card-subtitle{
    color: black;
}

.image{
    height: 25vh;
    width: 15vw;
    margin: auto;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #9c1148;
}

.mat-icons{
    color: aliceblue;
}

.material-icons{
    color: aliceblue;
}